
  .caption {
    background: #FEFEFE;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
  }
  .caption h4 {
    color: #C71749;
    font-size: 150%;
    letter-spacing: 5px;
  }
  .cupcakeDiv {
    padding: 30px 20px;
    background-color: #FEFEFE;
  }
  .cupcakeText {
    float: right;
    width: 60%;
    background: #FBD6D6;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    box-shadow: -5px 5px 5px #CCCCCC;
  }
  .cupcakeText em {
    display: block;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 150%;
    color: #C71749;
    margin: 10px auto;
  }
  .cupcakeText p {
    margin-bottom: 30px;
  }
  .cupcakeText input {
    padding: 5px;
  }
  .cupcakeText label {
    margin-right: 10px;
  }
  .cupcakeText a {
    text-decoration: none;
    color: #555555;
    font-size: 80%;
  }
  .cupcakeText a:hover {
    text-decoration: underline;
    font-size: 90%;
  }
  .cupcakeText button {
    width: 135px;
    padding: 5px 10px;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-radius: 5px;
    outline: none;
    margin-bottom: 5px;
  }
  .cupcakeText button:hover {
    cursor: pointer;
  }
  .cupcakeText button:active {
    outline: none;
    border-top: 2px solid #D94D66;
    border-left: 2px solid #D94D66;
  }
  .cupcakeImg {
    background: #FEFEFE;
    /* float: left; */
    display: inline-block;
    padding: 10px 15px;
    width: 180px;
    height: auto;
  }
  .cupcakeImg img {
    float: left;
    clear: left;
    display: block;
    border: 5px solid #FBD6D6;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
  }
  .cupcakeImg img:hover {
    background: #FEFEFE;
    border: 2px solid #CA2A58;
    cursor: pointer;
    position: relative;
    left: 150px;
    transform: scale(2);
  }
  #img1:hover {
    top: 170px;
  }
  #img2:hover {
    top: 50px;
  }
  #img3:hover {
    bottom: 50px;
  }
  #img4:hover {
    bottom: 170px;
  }
  @media screen and (max-width: 600px) {
    .cupcakeText {
      float: left;
      width: 100%;
      background: #FBD6D6;
      padding: 10px;
      margin-top: 10px;
      text-align: center;
      box-shadow: 5px 5px 5px #CCCCCC;
    }
  }