
/* .mainBorder {
  padding: 0 20px;
}
.caption {
  background: #FFFFFF;
  padding: 10px;
  text-align: center;
}
.caption h4 {
  color: #C71749;
  font-size: 150%;
  letter-spacing: 5px;
}
.authenticateBox {
  position: relative;
  background-color: #FEFEFE;
  height: 100%;
  margin: 30px auto;
  border: 1px solid #301B1F;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  line-height: 35px;
  padding-bottom: 20px;
  box-shadow: 4px 5px 4px #CCCCCC;
}
.authenticateBox h4 {
  background: #E34C77;
  color: #FFFFFF;
  text-align: left;
  padding-left: 15px;
  font-size: 105%;
  font-weight: 500;
  border: 1px solid #301B1F;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
}
.authenticateBox p {
  margin: 0 auto;
}
.authenticateBox label {
  display: inline-block;
  width: 110px;
  text-align: left;
}
.authenticateBox input {
  padding: 2px 5px;
  border-radius: 5px;
}
.authenticateBox input:focus {
  outline: none;
  border: 2px solid #FBD6DC;
}
.authenticateBox a:link {
  text-decoration: none;
  color: #000000;
  float: left;
  font-size: 80%;
  margin-left: 5%;
}
.authenticateBox a:hover {
  color: #D94D66;
}
.authenticateBox button {
  width: 150px;
  position: absolute;
  bottom: -20px;
  right: 50px;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  box-shadow: 2px 2px 2px #888888;
}
.authenticateBox button:hover {
  cursor: pointer;
}
.authenticateBox button:active {
  outline: none;
  border-top: 2px solid #D94D66;
  border-left: 2px solid #D94D66;
} */ 


 .authenticateBox {
  position: relative;
  background-color: #FEFEFE;
  margin: 30px auto;
  border: 1px solid #301B1F;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 4px 5px 4px #CCCCCC;
}
 
.authenticateBox h4 {
  background: #E34C77;
  color: #FFFFFF;
  text-align: left;
  padding-left: 15px;
  font-size: 105%;
  font-weight: 500;
  border-radius: 10px;
  margin-bottom: 10px;
}
 
.authenticateBox .form-control {
  border: 2px solid #E34C77; 
  border-radius: 5px;
}
 
.authenticateBox .form-control:focus {
  outline: none;
  border: 2px solid #FBD6DC;
}
 
.btn-pink {
  background-color: #E34C77; 
  border: none;
  color: #FFFFFF;
}
 
.btn-pink:hover {
  background-color: #C71749; 
}
 
.authenticateBox p {
  margin-top: 10px;
} 
  
